<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div id="header">
        <h1 id="header-text">Codeil</h1>
    <div>
    <ul>
        <% if(locals.user){ %>
            <li><a href="/users/profile"><%=user.username %></a></li>
            <li> <a href="/users/logout">SignOut</a></li>
       <% } else{ %>
            <li><a href="/registration"">Sign Up </a> </li>
            <li><a href="/login">Sign In</a></li>
        <% } %>

    </ul>
   </div>
</div>
</body>
</html>