<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('_header') %>
    <div id="main">
      <h1>Welcome home</h1>
      <%if(locals.user){%>
      <div id="create-post">
        <form action="/posts/create-post" method="post">
          <textarea
            name="content"
            id="content"
            cols="20"
            rows="5"
            placeholder="write post..."
          ></textarea>
          <input type="submit" value="post" />
        </form>
      </div>

      <div id="allPosts">
        <% for(post of posts){%>
          <%- include('_post') -%>
        <% }%>
      </div>

      <%}%>

      <div id="user-friends">
        <h4>Friends</h4>
         
      </div>
    </div>
    <%- include('footer')%>
  </body>
</html>
